@font-face {
    font-family: 'paybooc-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/paybooc-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.fnt{
    font-family:"paybooc-Bold"
}
input[type=text]{
    border: solid 1px #dadada;
    font-size:1rem;
    width: 60%;
    height:40px;
}